.idea/
docs/_build/
docs/oxidized_importer*
docs/pyembed*
docs/pyoxidizer*
docs/pyoxy*
docs/tugger*
pyembed/docs/_build/
python-oxidized-importer/docs/_build/
target/
tugger/docs/_build/
venv/
wheelhouse/

