<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle
            Name="{{{product_name}}}"
            Version="0.1"
            Manufacturer="PyOxidizer"
            UpgradeCode="{{{bundle_upgrade_code}}}"
            Condition="VersionNT >= v5.1">

        <BootstrapperApplicationRef
                Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication
                    LicenseUrl=""
                    SuppressOptionsUI="yes"/>
        </BootstrapperApplicationRef>

        <bal:Condition Message="This application requires Service Pack 2 for Windows Vista / Server 2008.">
            <![CDATA[NOT (VersionNT = v6.0 AND ServicePackLevel < 2)]]>
        </bal:Condition>

        <bal:Condition Message="This application requires Service Pack 1 for Windows 7 / Server 2008 R2.">
            <![CDATA[NOT (VersionNT = v6.1 AND ServicePackLevel < 1)]]>
        </bal:Condition>

        <util:FileSearch
                Id="HAL.DLL"
                Path="[WindowsFolder]System32\hal.dll"
                Result="version"
                Variable="NT603HALVER"
                Condition="VersionNT = v6.3"/>
        <bal:Condition Message="This application requires S14 Update (KB2919355) for Windows 8.1 / Server 2012 R2.">
            <![CDATA[NOT (VersionNT = v6.3 AND NT603HALVER < v6.3.9600.17031)]]>
        </bal:Condition>

        <util:RegistrySearch
            Id="VCRedist2019x86"
            Root="HKCR"
            Key="Installer\Dependencies\VC,redist.x86,x86,14.21,bundle"
            Value="Version"
            Variable="VCRedist2019x86Installed"
            />

        <util:RegistrySearch
            Id="VCRedist2019x64"
            Root="HKCR"
            Key="Installer\Dependencies\VC,redist.x64,amd64,14.21,bundle"
            Value="Version"
            Variable="VCRedist2019x64Installed"
            />

        <Variable Name="VCRedist2019Provided" Type="version" Value="14.21.27702"/>

        <Chain>
            <!-- Install VC++ Redistributable Bundle, if needed -->
            <ExePackage
                    Id="vc_redist.x86.exe"
                    Name="vc_redist.x86.14.21.27702.exe"
                    SourceFile="{{{vc_redist_x86_path}}}"
                    DisplayName="Microsoft Visual C++ 2015-2019 Redistributable (x86) - 14.21.27702"
                    Cache="no"
                    Compressed="yes"
                    PerMachine="yes"
                    Permanent="yes"
                    InstallCondition="Not VersionNT64"
                    DetectCondition="VCRedist2019x86Installed >= VCRedist2019Provided"
                    InstallCommand="/install /quiet /norestart"
                    RepairCommand="/repair /quiet /norestart"
                    UninstallCommand="/uninstall /quiet /norestart" />

            <ExePackage
                    Id="vc_redist.x64.exe"
                    Name="vc_redist.x64.14.21.27702.exe"
                    SourceFile="{{{vc_redist_x64_path}}}"
                    DisplayName="Microsoft Visual C++ 2015-2019 Redistributable (x64) - 14.21.27702"
                    Cache="no"
                    Compressed="yes"
                    PerMachine="yes"
                    Permanent="yes"
                    InstallCondition="VersionNT64"
                    DetectCondition="VCRedist2019x64Installed >= VCRedist2019Provided"
                    InstallCommand="/install /quiet /norestart"
                    RepairCommand="/repair /quiet /norestart"
                    UninstallCommand="/uninstall /quiet /norestart" />

            <!-- Run our application's installer -->
            <MsiPackage
                    Id="AppInstallerx86"
                    DisplayName="App Installer"
                    ForcePerMachine="yes"
                    Compressed="yes"
                    SourceFile="{{{distributions_path}}}/{{{product_name}}}.x86.msi"
                    DisplayInternalUI="yes"
                    InstallCondition="Not VersionNT64"/>
            <MsiPackage
                    Id="AppInstallerx64"
                    DisplayName="App Installer"
                    ForcePerMachine="yes"
                    Compressed="yes"
                    SourceFile="{{{distributions_path}}}/{{{product_name}}}.amd64.msi"
                    DisplayInternalUI="yes"
                    InstallCondition="VersionNT64"/>
        </Chain>
    </Bundle>
</Wix>
