[package]
name = "pyoxidizer"
version = "0.12.0-pre"
authors = ["Gregory Szorc <gregory.szorc@gmail.com>"]
license = "MPL-2.0"
description = "Package self-contained Python applications"
readme = "../README.md"
homepage = "https://github.com/indygreg/PyOxidizer"
repository = "https://github.com/indygreg/PyOxidizer.git"
keywords = ["python"]
edition = "2018"
build = "build.rs"

# We rename the library so we can have crate documentation for both the
# library and the binary.
[lib]
name = "pyoxidizerlib"
path = "src/lib.rs"
# The library offers no functionality that the binary doesn't and testing
# both is redundant and adds overhead. So we disable tests for the library.
test = false

[build-dependencies]
# We don't need network functionality. So disable default features which
# pull it in.
git2 = { version = "0.13", default-features = false }

[dependencies]
anyhow = "1.0"
cargo_toml = "0.8"
cc = "1.0"
clap = "2.33"
codemap = "0.1"
codemap-diagnostic = "0.1"
duct = "0.13"
fs2 = "0.4"
fs_extra = "1.2"
glob = "0.3"
handlebars = "3.5"
hex = "0.4"
indoc = "1.0"
itertools = "0.10"
libc = "0.2"
linked-hash-map = "0.5"
once_cell = "1.7"
path-dedot = "3.0"
rustc_version = "0.3"
semver = "0.11"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.9"
slog = "2.7"
starlark = "0.3.1"
tar = "0.4"
tempfile = "3.2"
url = "2.2"
uuid = { version = "0.8", features = ["v4", "v5"] }
version-compare = "0.0"
walkdir = "2"
zstd = "0.6"

[dependencies.python-packaging]
version = "0.5.0-pre"
path = "../python-packaging"

[dependencies.python-packed-resources]
version = "0.6.0-pre"
path = "../python-packed-resources"

[dependencies.starlark-dialect-build-targets]
version = "0.3.0-pre"
path = "../starlark-dialect-build-targets"

[dependencies.tugger-apple]
version = "0.1.0-pre"
path = "../tugger-apple"

[dependencies.tugger-binary-analysis]
version = "0.2.0-pre"
path = "../tugger-binary-analysis"

[dependencies.tugger-common]
version = "0.2.0-pre"
path = "../tugger-common"

[dependencies.tugger-licensing]
version = "0.2.0-pre"
path = "../tugger-licensing"

[dependencies.tugger-windows]
version = "0.2.0-pre"
path = "../tugger-windows"

[dependencies.tugger]
version = "0.4.0-pre"
path = "../tugger"

[dependencies.tugger-file-manifest]
version = "0.2.0-pre"
path = "../tugger-file-manifest"

[dev-dependencies]
indoc = "1.0"
xml-rs = "0.8"
