[package]
name = "tugger-code-signing"
version = "0.10.0-pre"
authors = ["Gregory Szorc <gregory.szorc@gmail.com>"]
edition = "2021"
license = "MPL-2.0"
description = "Cross-platform code signing functionality"
keywords = ["tugger"]
homepage = "https://github.com/indygreg/PyOxidizer"
repository = "https://github.com/indygreg/PyOxidizer.git"
readme = "README.md"

[dependencies]
anyhow = "1.0.68"
apple-bundles = "0.17.0"
apple-codesign = "0.22.0"
bcder = "0.7.1"
cryptographic-message-syntax = "0.19.0"
goblin = "0.5.4"
log = "0.4.17"
p12 = "0.6.3"
reqwest = { version = "0.11.13", default-features = false, features = ["blocking", "rustls-tls"] }
simple-file-manifest = "0.11.0"
tempfile = "3.2.0"
thiserror = "1.0.38"
x509-certificate = "0.16.0"
yasna = "0.5.1"

[dependencies.tugger-windows-codesign]
version = "0.10.0-pre"
path = "../tugger-windows-codesign"
