jobs:
- job: ${{ parameters.name }}
  pool:
    vmImage: ${{ parameters.vmImage }}
  strategy:
    matrix:
      stable:
        rustup_toolchain: stable
      beta:
        rustup_toolchain: beta
      nightly:
        rustup_toolchain: nightly
      1.36:
        rustup_toolchain: 1.36.0

  steps:
  - ${{ if ne(parameters.name, 'Windows') }}:
    - script: |
        curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
        echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
      displayName: Install Rust

  - ${{ if eq(parameters.name, 'Windows') }}:
    - script: |
        curl -sSf -o rustup-init.exe https://win.rustup.rs
        rustup-init.exe -y --default-toolchain %RUSTUP_TOOLCHAIN%
        set PATH=%PATH%;%USERPROFILE%\.cargo\bin
        echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
      displayName: Install Rust (Windows)

  - script: rustup component add clippy
    displayName: Install Clippy
    condition: ne( variables['rustup_toolchain'], 'nightly' )

  - script: |
        rustc -Vv
        cargo -V
    displayName: Query rust and cargo versions

  - script: cargo build -p pyoxidizer
    displayName: Build

  - script: cargo test -p pyoxidizer
    displayName: Test

  - script: cargo clippy -p pyoxidizer -- --allow clippy::cast_ptr_alignment
    displayName: Clippy
    condition: ne( variables['rustup_toolchain'], 'nightly' )

  - ${{ if eq(parameters.name, 'Linux') }}:
    - script: |
        cargo run --bin pyoxidizer -- init --pip-install appdirs==1.4.3 --pip-install cryptography --pip-install markupsafe==1.1.1 --pip-install simplejson==3.17.0 --pip-install gevent==1.4.0 ~/pyapp
        cat ci/pyapp.py | cargo run --bin pyoxidizer -- run ~/pyapp
      displayName: Build Oxidized Application

  - ${{ if eq(parameters.name, 'macOS') }}:
    - script: brew install openssl@1.1
      displayName: 'Install OpenSSL'

  - ${{ if eq(parameters.name, 'macOS') }}:
    - script: |
        export CPPFLAGS="-I$(brew --prefix openssl@1.1)/include"
        export LDFLAGS="-L$(brew --prefix openssl@1.1)/lib"
        cargo run --bin pyoxidizer -- init --pip-install appdirs==1.4.3 --pip-install cryptography==2.8 --pip-install markupsafe==1.1.1 --pip-install simplejson==3.17.0 --pip-install gevent==1.4.0 ~/pyapp
        cat ci/pyapp.py | cargo run --bin pyoxidizer -- run ~/pyapp
      displayName: Build Oxidized Application

  - ${{ if eq(parameters.name, 'Windows') }}:
    - powershell: |
        git clone 'https://github.com/Badgerati/Fudge'
        .\Fudge\src\Fudge.ps1 install -adhoc openssl
      displayName: 'Install OpenSSL'

  - ${{ if eq(parameters.name, 'Windows') }}:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.7'

  - ${{ if eq(parameters.name, 'Windows') }}:
    - script: |
        set INCLUDE=%ProgramFiles%\OpenSSL-Win64\include;%INCLUDE%
        set LIB=%ProgramFiles%\OpenSSL-Win64\lib\;%LIB%
        cargo run --bin pyoxidizer -- init --pip-install appdirs==1.4.3 --pip-install cryptography==2.8 --pip-install markupsafe==1.1.1 --pip-install simplejson==3.17.0 --pip-install gevent==1.4.0 %USERPROFILE%/pyapp
        cat ci/pyapp.py | cargo run --bin pyoxidizer -- run %USERPROFILE%/pyapp
      displayName: Build Oxidized Application (Windows)
